<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/public/favicon.ico">
  <title></title>
  <!-- build:css(.) /public/assets/app.min.css -->
  <link href="/app/assets/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
  <link href="/app/assets/bower_components/font-awesome/css/font-awesome.css" rel="stylesheet">
  <!-- endbuild -->
  {{if eq .RunMode "dev"}}
  <script src="/app/assets/bower_components/requirejs/require.js"></script>
  <script>
    requirejs.config({
      paths: {
        'jquery': [
          '../bower_components/jquery/jquery.min'
        ],
        'bootstrap': [
          '../bower_components/bootstrap/dist/js/bootstrap.min'
        ]
      },
      shim: {
        'bootstrap': ['jquery']
      }
    });
    require(['require_main']);
  </script>
  {{else}}
  <script src="/public/assets/app.min.js"></script>
  {{end}}
</head>
<body>
